@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "../abstracts/functions" as func;

// ----------------------TypeScale
@each $screen-size, $font-prop in var.$type-scale {
  @if $screen-size == "desktop" {
    @each $size-name, $properties in $font-prop {
      .#{$size-name} {
        @each $prop, $value in $properties {
          #{$prop}: #{$value};
        }
      }
    }
  } @else if $screen-size == "tablet" {
    @include mix.respond-to("medium") {
      @each $size-name, $properties in $font-prop {
        .#{$size-name} {
          @each $prop, $value in $properties {
            #{$prop}: #{$value};
          }
        }
      }
    }
  }
}

// --------------------------------------------Index-page

// ----------------------Navigation
.logo {
  a {
    color: var(--clr-primary-700);
  }
}
nav {
  ul a {
    color: var(--clr-neutral-grey-500);
  }
}

// ----------------------Landing
.landing {
  &__heading {
    text-align: center;
    color: var(--clr-neutral-grey-900);
  }
  &__desc {
    text-align: center;
    color: var(--clr-neutral-grey-500);
  }
}

// ----------------------Features
.features {
  &__heading {
    color: var(--clr-neutral-grey-900);
  }
  &__f__title {
    color: var(--clr-neutral-grey-800);
  }
  &__f__desc {
    color: var(--clr-neutral-grey-500);
  }
}

// ----------------------Product
.product {
  &__heading {
    color: var(--clr-neutral-grey-900);
  }
}

// ----------------------Footer
.footer {
  &__sapr {
    &__details {
      p {
        color: var(--clr-neutral-grey-500);
      }
    }
    &__copyright {
      svg {
        path {
          fill: var(--clr-neutral-grey-500);
        }
      }
      p {
        color: var(--clr-neutral-grey-500);
      }
    }
  }

  &__other-links {
    p {
      color: var(--clr-neutral-grey-700);
    }
    a {
      color: var(--clr-neutral-grey-500);
    }
  }

  &__newsletter {
    input {
      color: var(--clr-neutral-grey-700);
    }
    &__label {
      color: var(--clr-neutral-grey-700);
    }
  }
}

// --------------------------------------------Analysis-page

// ----------------------Steps
.steps {
  &__heading {
    color: var(--clr-neutral-grey-800);
  }
  &__s {
    &__step {
      &__no {
        color: var(--clr-neutral-grey-800);
      }
      &__desc {
        color: var(--clr-neutral-grey-500);
      }
    }
  }
}

// ----------------------Import-reviews
.import-reviews {
  &__asin-id {
    label {
      color: var(--clr-neutral-grey-800);
    }
  }

  &__separator {
    color: var(--clr-neutral-grey-400);
  }

  &__drag {
    h4 {
      color: var(--clr-neutral-grey-800);
    }

    &__drag-file {
      p {
        color: var(--clr-neutral-grey-600);
      }
    }
  }
}

// ----------------------Product-reviews
.product-reviews {
  &__res {
    h4 {
      color: var(--clr-neutral-grey-800);
    }
  }
  &__res-window {
    &__reviews {
      .col-header {
        color: var(--clr-neutral-grey-700);
      }
      ul {
        li {
          color: var(--clr-neutral-grey-500);
        }
      }
    }
    &__dates {
      .col-header {
        color: var(--clr-neutral-grey-700);
      }
      ul {
        li {
          color: var(--clr-neutral-grey-500);
        }
      }
    }
    &__delete {
      .col-header {
        color: var(--clr-accent-700);
      }
    }
  }
}

// --------------------------------------------Output-page

// ----------------------Chart-sec
.chart-sec {
  margin-top: func.px-to-rem(63);

  &__heading {
    color: var(--clr-neutral-teal-800);
  }

  &__month {
    &__label {
      color: var(--clr-neutral-teal-600);
    }
    &__options {
      color: var(--clr-neutral-teal-600);
    }
  }

  &__results {
    &__meter {
      &__heading {
        h4 {
          color: var(--clr-neutral-grey-800);
        }
        p {
          color: var(--clr-neutral-grey-500);
        }
      }

      &__curve {
        h3 {
          text-transform: capitalize;
          color: var(--clr-neutral-grey-800);
        }
        h4 {
          text-transform: capitalize;
          color: var(--clr-neutral-grey-800);
        }
        p {
          text-transform: capitalize;

          color: var(--clr-neutral-grey-500);
        }
      }
    }
  }

  &__stats {
    margin-top: func.px-to-rem(38);

    li {
      p {
        color: var(--clr-neutral-teal-500);
      }
    }
  }
}
