@use "../abstracts/functions" as func;
@use "../abstracts/variables" as var;

.button {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: func.px-to-rem(16) func.px-to-rem(24);
  border-radius: map-get(var.$border-radius, "small");

  &--primary {
    @extend .button;
    color: #fff;
    background-color: var(--clr-accent-500);
  }
  &--secondary {
    @extend .button;
    color: var(--clr-accent-500);
    background-color: var(--clr-accent-100);
  }
  &--secondary-2 {
    @extend .button;
    color: #fff;
    background-color: var(--clr-secondary-500);
  }
  &--neutral {
    @extend .button;
    color: #fff;
    background-color: var(--clr-neutral-grey-500);
  }
}

.textfield-button {
  display: flex;

  input {
    flex: 1;
    border-radius: func.px-to-rem(2) 0 0 func.px-to-rem(4);
  }
  button {
    @extend .button;
    border-radius: 0 func.px-to-rem(2) func.px-to-rem(4) 0;
  }
}
