@use "../abstracts/functions" as func;
@use "../abstracts/variables" as var;

.checkbox {
  display: flex;
  gap: map-get(var.$custom-checkbox, "gap");

  input {
    position: relative;
    appearance: none;
    margin: 0;
    width: map-get(var.$custom-checkbox, "size");
    aspect-ratio: 1;
    border: func.px-to-rem(2) solid;
    border-radius: map-get(var.$border-radius, "small");
    cursor: pointer;

    &:checked {
      border: none;

      &::before {
        position: absolute;
        content: "";
        inset: 0;
        background-image: url("/assets/icons/approve-tick.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  label {
    cursor: pointer;
  }

  &--primary {
    @extend .checkbox;

    input {
      border-color: map-get(var.$custom-checkbox, "border-clr", "primary");

      &:checked {
        background-color: map-get(var.$custom-checkbox, "bg-clr", "primary");
      }
    }
  }
  &--secondary {
    @extend .checkbox;

    input {
      border-color: map-get(var.$custom-checkbox, "border-clr", "secondary");

      &:checked {
        background-color: map-get(var.$custom-checkbox, "bg-clr", "secondary");
      }
    }
  }
  &--neutral {
    @extend .checkbox;

    input {
      border-color: map-get(var.$custom-checkbox, "border-clr", "neutral-grey");

      &:checked {
        background-color: map-get(
          var.$custom-checkbox,
          "bg-clr",
          "neutral-grey"
        );
      }
    }
  }
}
