@use "../abstracts/functions" as func;

.textfield {
  padding-left: func.px-to-rem(18);
  border: func.px-to-rem(2) solid;
  border-radius: func.px-to-rem(2);

  &--neutral {
    @extend .textfield;
    border-color: var(--clr-neutral-grey-600);
  }
  &--secondary {
    @extend .textfield;
    border-color: var(--clr-secondary-600);
  }
}
