@use "../abstracts/functions" as func;

.chart-sec {
  margin-top: func.px-to-rem(63);

  &__header {
    display: flex;
  }

  &__month {
    margin-left: func.px-to-rem(88);
    display: flex;
    align-items: center;
    gap: func.px-to-rem(16);

    &__select-wrapper {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        margin-top: func.px-to-rem(16);
        margin-right: func.px-to-rem(24);
        width: func.px-to-rem(26);
        aspect-ratio: 1;
        background-image: url("/assets/icons/down-arrow.svg");
        background-position: center;
        background-size: contain;
        pointer-events: none;
      }
    }

    &__options {
      $gapBwLableIcon: func.px-to-rem(28);
      $iconWidth: func.px-to-rem(26);
      $paddingRight: func.px-to-rem(24);
      appearance: none;
      padding-right: $gapBwLableIcon + $iconWidth + $paddingRight;
    }
  }

  &__download {
    margin-left: auto;
    width: func.px-to-rem(74);
    background-image: url("/assets/icons/bottom-alignment.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: func.px-to-rem(26);
    border-radius: func.px-to-rem(2);
  }

  &__statistics {
    margin-top: func.px-to-rem(38);

    ul[role="list"] {
      display: flex;
      justify-content: center;
      gap: func.px-to-rem(28);

      li {
        $minWidth: func.px-to-rem(200);
        min-width: $minWidth;
        text-align: center;
      }
    }
  }
}
