@use "../abstracts/functions" as func;
@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: func.px-to-rem(55);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: func.px-to-rem(120);
    gap: func.px-to-rem(18);
  }
  &__heading {
    max-width: 20ch;
  }
  &__desc {
    max-width: 60%;
    max-width: 40ch;
  }

  &__img {
    max-width: 65%;
    overflow: hidden;
    border-radius: map-get(var.$border-radius, "large");
    @include mix.box-shadow(
      map-get(var.$colors, "primary", 200),
      map-get(var.$colors, "primary", 100),
      map-get(var.$colors, "primary", 100)
    );
  }
}
